html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FAF8F8;
    font-family: 'Poppins', sans-serif;
}

.section {
    margin: 20px 0;
}

.header__head {
    position: sticky;
    z-index: 1;
    top: 0;
}

.header__head--element {
    color: #4B4848;
    transition: .3s;
    font-weight: 500;
    /* font-size: 17px; */
}

.header__head--element:hover {
    color: #6078EA;
    text-decoration: none;
}

.header__head--name {
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.header__head--name-logo-img {
    width: 60px;
}

.header__head--name-name-title {
    padding: 0px;
}

.header__head--menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__head--signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__hero {
    margin: 60px 0;
    /* background: linear-gradient(180deg, hsla(230, 77%, 65%, 0.2) 0%, hsla(0, 0%, 100%, 1) 100%); */
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.content__hero--slogan {
    height: 100%;
    font-size: 120px;
    font-weight: 800;
    line-height: 1.2;
}

.content__hero--slogan-extra {
    color: #6078EA;
}