html {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #FAF8F8; */
    font-family: 'Poppins', sans-serif;
    background-color: #FAF8F8;
    opacity: 1;
    background-image: radial-gradient(#6078EA 1.05px, transparent 1.05px), radial-gradient(#6078EA 1.05px, #FAF8F8 1.05px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6078EA;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9fafff;
    /* width: 10px; */
}

.section {
    margin: 20px 0;
}

.hero__section--margin {
    margin: 8% 0;
}

.header {
    margin: 5px;
    padding: 0;
    position: sticky;
    z-index: 1;
    top: 0;
    /* background-color: #FAF8F8; */
    background-color: #FAF8F8;
    opacity: 1;
    background-image: radial-gradient(#6078EA 1.05px, transparent 1.05px), radial-gradient(#6078EA 1.05px, #FAF8F8 1.05px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;
}

.header__head--element {
    color: #4B4848;
    transition: .3s;
    font-weight: 500;
    /* font-size: 17px; */
}

.header__head--element:hover {
    color: #6078EA;
    text-decoration: none;
}


.header__head--name {
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.header__head--name-logo-img {
    width: 60px;
}

.header__head--name-name-title {
    padding: 0px;
}

.header__head--menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__head--signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__hero {
    margin: 5% 0 10% 0;
    /* background: linear-gradient(180deg, hsla(230, 77%, 65%, 0.2) 0%, hsla(0, 0%, 100%, 1) 100%); */
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 100%;
}

.content__hero--slogan {
    padding: 0 50px;
    height: 100%;
    font-size: 120px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    user-select: none;
}

.content__hero--slogan-extra {
    transition: .2s;
    color: #6078EA;
    font-style: italic;
    /* padding-right: 4px; */

}

.content__aboutus--title {
    /* margin: 100px 0; */
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #303841;
    user-select: none;
}

.content__aboutus--description {
    text-align: center;
    font-size: 20px;
    color: #3A4750;
    font-weight: 500;
    opacity: .7;
    user-select: none;

    /* text-transform: lowercase; */
}

.content__weoffer--title {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.content__weoffer--description {
    text-align: center;
    font-size: 20px;
    opacity: .7;
}